*.pyc
*.pyo
.idea/**
app/.idea/**
.venv/
*.sqlite3
*.env
media/
/app/staticfiles/

# Elastic Beanstalk Files
/app/.elasticbeanstalk/*
!/app/.elasticbeanstalk/*.cfg.yml
!/app/.elasticbeanstalk/*.global.yml

app/fcm-spritacular.json
app/drive-spritacular.json

app/celerybeat-schedule

app/quiz_data.xlsx
app/user_image_credit_quiz_data.xlsx
app/labelled_imagery_updated.xlsx

app/test.jpg
app/app_logs
